{% extends "layout.html" %}

{% block block_body %}

  {% from "includes/formhelpers.html" import render_field %}

  <form method = "post">
      {{ render_field(form.name,class="form-control") }}
      {{ render_field(form.username,class="form-control") }}
      {{ render_field(form.email,class="form-control") }}
      {{ render_field(form.password,class="form-control") }}
      {{ render_field(form.confirm,class="form-control") }}

      <button type="submit" class="btn btn-primary">Kayit ol</button>
  </form>

{% endblock block_body %}